<div class="card producto shadow-sm">
    <div class="card-body">

        <h3 class="card-title fw-bold text-truncate">{{ miProducto.title }}</h3>
        <p class="sku text-muted small">SKU: {{ miProducto.sku }}</p>

        <p class="precio fw-semibold fs-5">{{ miProducto.price }}€</p>

        <div class="quantity-box d-flex align-items-center gap-2 mt-2">
            <button class="btn btn-outline-danger btn-sm" (click)="restarCantidad()">−</button>

            <span class="cantidad text-center">{{ cantidad }}</span>

            <button class="btn btn-outline-success btn-sm" (click)="sumarCantidad()">+</button>
        </div>

        <p class="total mt-3 small text-muted">
            Total: <strong>{{ total }} €</strong>
        </p>

    </div>
</div>