<!-- Para que se vea como una tabla -->
<div class="producto-fila shadow-sm p-2 rounded">

    <div class="col producto">
        <div class="titulo">{{ miProducto.title }}</div>
        <small class="sku">SKU: {{ miProducto.sku }}</small>
    </div>

    <div class="col precio">
        {{ miProducto.price }} €
    </div>

    <div class="col cantidad">
        <button class="btn-cantidad" (click)="restarCantidad()">−</button>
        <span>{{ cantidad }}</span>
        <button class="btn-cantidad" (click)="sumarCantidad()">+</button>
    </div>

    <div class="col total">
        {{ total }} €
    </div>

    <div class="col eliminar">
        <button class="btn-eliminar" (click)="eliminarProducto()">🗑</button>
    </div>

</div>